[ReleaseProperties]
; Unique mod ID. Leave blank for auto GUID (OriginalAuthor.Name)
GUID=

; The name of the mod, used for AutoGUID, FileName, and anything else which needs a file-friendly name. Leave blank to use existing data.
PluginName=

; User friendly name of the mod. Used for thunderstore and BepinPlugin names visible to users. Leave blank to use the PluginName.
UserPluginName=Delayed Shards

; Thunderstore mod name/page link. Must only have characters [a-z A-Z 0-9 _]. Leave Blank for autofill based on UserPluginName. " " is auto replaced with "_".
ThunderstorePluginName=DelayedShards

; The current version of the mod. Used for file version, BepinPlugin, and Thunderstore manifest.
PluginVersion=0.0.5

; The version of VoidManager utilized by the mod.
VoidManagerVersion=1.1.8

; The version of Void Crew the mod is built for.
GameVersion=0.27.0

; The simple description of the mod, used for VoidManager and thunderstore manifest descriptions. Must be less than 250 Characters
PluginDescription=Inserting shards into the map adds them to a queue for the pilot to activate at any time

; The original author of the mod, used for auto GUID.
PluginOriginalAuthor=18107

; The various authors/editors of the mod.
PluginAuthors=

; WebpageLink
WebpageLink=https://github.com/Void-Crew-Modding-Team/DelayedShards

; ThunderStore ID (https://thunderstore.io/c/void-crew/p/VoidCrewModdingTeam/VoidManager/ the section equivelant to 'VoidCrewModdingTeam/VoidManager'). Leave blank if unknown.
ThunderstoreID=VoidCrewModdingTeam/DelayedShards


; PreBuild Execution Params
[PrebuildExecParams]

; Throw error if icon.png does not exist.
IconError=false

; Throw error if CHANGELOG is not updated.
ChangelogError=true

; For output to project dir, use: "ProjectDir". For output to solution Dir, use: "SolutionDir". Leave blank to disable. All other input will use the given file path.
ProjectReadmeOutPath=SolutionDir